*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width:100%;
    height: 100%;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    width:100%;
}
#main #nav{
    
    padding:2.5vw 3.5vw;
    background-color: #121212;
}
#main #nav svg{
    width:8.5%;
}

#body{
    width:100%;
    height:100%;
    background:linear-gradient(rgba(255, 255, 255, 0.2) 10% ,black);
    display:flex;
    justify-content: center;
}

#body #container{
    width:53vw;
    background-color: #121212;
    margin:3vw 0;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:4.5vw 0;
    gap:2vw;

}

#container >h1{
    font-size:3.3vw;
    letter-spacing: -0.1vw;
}
#container #passauth button{
    padding:10px;
    width:22vw;
    height:4vw;
    border-radius: 100px;;
    outline: none;
    border: 1px solid white;;
    background-color: transparent;
    color:white;
    font-weight: 800;
    font-size: 15px;
}

#body #container hr{
    width:400px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.164);
    border: none;
    z-index: 999;
}

#container form{
    display:flex;
    flex-direction: column;
    gap:1.5vw;
    width: 50%;
}

#container form input{
    padding:1vw;
    background-color: transparent;
    outline: none;
    border: 1px solid white;;
    border-radius: 10px;;
    color:white;
    font-size: 18px;
    font-weight: 500;
}

#container form button{
    padding:10px;
    width:22vw;
    height:4vw;
    border-radius: 100px;;
    outline: none;
    border: 1px solid white;;
    background-color: rgba(0, 128, 0, 0.8);
    color:white;
    font-weight: 800;
    font-size: 15px;
    margin:auto;
}

#rem{
    display:flex;
    gap:15px;
}
#rem #remember{
    background-color: black;
    width:50px;
    height: 20px;
    border-radius: 100px;
    display: flex;;
    align-items: center;
    padding:10px 3px;
}

#remember #circle{
    width:15px;
    height:15px;;
    background-color: gray;
    border-radius: 50%;
    cursor:pointer;
    transition: all ease-in-out 0.5s;
}

.rememberme{
    background-color: green;
    transform: translateX(200%);

}

#container form a{
    margin:auto;
    color:white;
}
a{
    color:white;
}

#footer{
    background-color: #121212;
    
    padding: 3vw 3vw;
    display: flex;
    justify-content: center;
    align-items: center;;
}